            FieldName="IssuerURL"
            FieldName="AuthorizationEndpoint"
            FieldName="TokenEndpoint"
            FieldName="RegistrationEndpoint"
            FieldName="RevocationEndpoint"
            FieldName="JwksURI"
            FieldName="ScopesSupported"
            FieldName="ResponseTypesSupported"
            FieldName="GrantTypesSupported"
            FieldName="TokenEndpointAuthMethods"
            FieldName="CodeChallengeMethodsSupported"
            FieldName="MetadataJSON"
            FieldName="CachedAt"
