    <!-- Interaction Summary Section -->
        SectionKey="interactionSummary"
        SectionName="Interaction Summary"
            FieldName="EarliestAt"
            FieldName="LatestAt"
            FieldName="TotalCount"
    <!-- User Profile Section -->
        SectionKey="userProfile"
        SectionName="User Profile"
            FieldName="UserName"
            FieldName="UserFirstLast"
            FieldName="UserEmail"
            FieldName="UserSupervisor"
            FieldName="UserSupervisorEmail"
