    <!-- Request Information Section -->
        SectionKey="requestInformation"
        SectionName="Request Information"
            FieldName="Endpoint"
            FieldName="Operation"
            FieldName="Method"
    <!-- Response & Client Info Section -->
        SectionKey="responseClientInfo"
        SectionName="Response & Client Info"
        Icon="fa fa-network-wired"
            FieldName="StatusCode"
            FieldName="ResponseTimeMs"
            FieldName="IPAddress"
            FieldName="UserAgent"
    <!-- Authorization Details Section -->
        SectionKey="authorizationDetails"
        SectionName="Authorization Details"
            FieldName="RequestedResource"
            FieldName="ScopesEvaluated"
            FieldName="AuthorizationResult"
            FieldName="DeniedReason"
