    <!-- Identification & Versioning Section -->
        SectionKey="identificationVersioning"
        SectionName="Identification & Versioning"
            FieldName="Namespace"
            FieldName="Version"
            FieldName="VersionSequence"
            FieldName="Title"
    <!-- Specification & Design Section -->
        SectionKey="specificationDesign"
        SectionName="Specification & Design"
        Icon="fa fa-file-code"
            FieldName="Specification"
            FieldName="FunctionalRequirementsVector"
            FieldName="TechnicalDesignVector"
            FieldName="HasCustomProps"
            FieldName="HasCustomEvents"
            FieldName="RequiresData"
            FieldName="DependencyCount"
            FieldName="TechnicalDesignVectorEmbeddingModelID"
            FieldName="FunctionalRequirementsVectorEmbeddingModelID"
            FieldName="HasRequiredCustomProps"
    <!-- Developer & Ownership Section -->
        SectionKey="developerOwnership"
        SectionName="Developer & Ownership"
            FieldName="DeveloperName"
            FieldName="DeveloperEmail"
            FieldName="DeveloperOrganization"
    <!-- Registry & Synchronization Section -->
        SectionKey="registrySynchronization"
        SectionName="Registry & Synchronization"
            FieldName="SourceRegistryID"
            FieldName="ReplicatedAt"
            FieldName="LastSyncedAt"
    <!-- MJ: Component Dependencies Section -->
        SectionKey="mJComponentDependencies"
        SectionName="MJ: Component Dependencies"
        [BadgeCount]="GetSectionRowCount('mJComponentDependencies')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Component Dependencies','DependencyComponentID')"
                [NewRecordValues]="NewRecordValues('MJ: Component Dependencies')"
                [AllowLoad]="IsSectionExpanded('mJComponentDependencies')"
                (AfterDataLoad)="SetSectionRowCount('mJComponentDependencies', $event.totalRowCount)"
    <!-- MJ: Component Library Links Section -->
        SectionKey="mJComponentLibraryLinks"
        SectionName="MJ: Component Library Links"
        [BadgeCount]="GetSectionRowCount('mJComponentLibraryLinks')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Component Library Links','ComponentID')"
                [NewRecordValues]="NewRecordValues('MJ: Component Library Links')"
                [AllowLoad]="IsSectionExpanded('mJComponentLibraryLinks')"
                (AfterDataLoad)="SetSectionRowCount('mJComponentLibraryLinks', $event.totalRowCount)"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Component Dependencies','ComponentID')"
