    <!-- Message Identification Section -->
        SectionKey="messageIdentification"
        SectionName="Message Identification"
        Icon="fa fa-id-badge"
            FieldName="CommunicationProviderID"
            FieldName="CommunicationProviderMessageTypeID"
            FieldName="CommunicationRunID"
    <!-- Message Details Section -->
        SectionKey="messageDetails"
        SectionName="Message Details"
        Icon="fa fa-envelope"
            FieldName="MessageDate"
            FieldName="MessageContent"
