    <!-- Identifiers & References Section -->
        SectionKey="identifiersReferences"
        SectionName="Identifiers & References"
    <!-- Operation Execution Section -->
        SectionKey="operationExecution"
        SectionName="Operation Execution"
            FieldName="Action"
    <!-- Run Audit Section -->
        SectionKey="runAudit"
        SectionName="Run Audit"
            FieldName="RunStartedAt"
            FieldName="RunEndedAt"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Error Logs','CompanyIntegrationRunDetailID')"
