    <!-- MJ: Credential Categories Section -->
        SectionKey="mJCredentialCategories"
        SectionName="MJ: Credential Categories"
        [BadgeCount]="GetSectionRowCount('mJCredentialCategories')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Credential Categories','ParentID')"
                [NewRecordValues]="NewRecordValues('MJ: Credential Categories')"
                [AllowLoad]="IsSectionExpanded('mJCredentialCategories')"
                (AfterDataLoad)="SetSectionRowCount('mJCredentialCategories', $event.totalRowCount)"
    <!-- MJ: Credentials Section -->
        SectionKey="mJCredentials"
        SectionName="MJ: Credentials"
        [BadgeCount]="GetSectionRowCount('mJCredentials')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Credentials','CategoryID')"
                [NewRecordValues]="NewRecordValues('MJ: Credentials')"
                [AllowLoad]="IsSectionExpanded('mJCredentials')"
                (AfterDataLoad)="SetSectionRowCount('mJCredentials', $event.totalRowCount)"
