    <!-- Item Identification Section -->
        SectionKey="itemIdentification"
        SectionName="Item Identification"
            FieldName="CodeName"
    <!-- Source Definition Section -->
        SectionKey="sourceDefinition"
        SectionName="Source Definition"
            FieldName="ViewID"
            FieldName="QueryID"
            FieldName="SQL"
    <!-- Cached Snapshot Section -->
        SectionKey="cachedSnapshot"
        SectionName="Cached Snapshot"
        Icon="fa fa-save"
            FieldName="DataJSON"
