    <!-- Relationship Core Section -->
        SectionKey="relationshipCore"
        SectionName="Relationship Core"
            FieldName="EntityKeyField"
            FieldName="RelatedEntityJoinField"
            FieldName="JoinView"
            FieldName="JoinEntityJoinField"
            FieldName="JoinEntityInverseJoinField"
            FieldName="EntityBaseView"
            FieldName="RelatedEntityBaseTableCodeName"
    <!-- API & Query Settings Section -->
        SectionKey="aPIQuerySettings"
        SectionName="API & Query Settings"
            FieldName="BundleInAPI"
            FieldName="IncludeInParentAllQuery"
            FieldName="AdditionalFieldsToInclude"
            FieldName="AutoUpdateAdditionalFieldsToInclude"
    <!-- Display Configuration Section -->
        SectionKey="displayConfiguration"
        SectionName="Display Configuration"
            FieldName="DisplayInForm"
            FieldName="DisplayLocation"
            FieldName="DisplayIconType"
            FieldName="DisplayIcon"
            FieldName="DisplayUserViewID"
            FieldName="DisplayComponentID"
            FieldName="DisplayComponentConfiguration"
            FieldName="DisplayUserViewName"
    <!-- Technical Metadata Section -->
        SectionKey="technicalMetadata"
        SectionName="Technical Metadata"
            FieldName="AutoUpdateFromSchema"
