    <!-- Entity & Role Details Section -->
        SectionKey="entityRoleDetails"
        SectionName="Entity & Role Details"
            FieldName="RoleName"
            FieldName="RoleSQLName"
    <!-- Access Rights Section -->
        SectionKey="accessRights"
        SectionName="Access Rights"
    <!-- Security Filters Section -->
        SectionKey="securityFilters"
        SectionName="Security Filters"
            FieldName="ReadRLSFilterID"
            FieldName="CreateRLSFilterID"
            FieldName="UpdateRLSFilterID"
            FieldName="DeleteRLSFilterID"
