    <!-- Document Definition & Output Section -->
        SectionKey="documentDefinitionOutput"
        SectionName="Document Definition & Output"
            FieldName="DocumentText"
    <!-- Vector Embedding Section -->
        SectionKey="vectorEmbedding"
        SectionName="Vector Embedding"
            FieldName="VectorIndexID"
            FieldName="VectorID"
            FieldName="VectorJSON"
    <!-- Timestamps & Audit Section -->
        SectionKey="timestampsAudit"
        SectionName="Timestamps & Audit"
            FieldName="EntityRecordUpdatedAt"
