            FieldName="EncryptionKeySourceID"
            FieldName="EncryptionAlgorithmID"
            FieldName="KeyLookupValue"
            FieldName="KeyVersion"
            FieldName="Marker"
            FieldName="ActivatedAt"
    <!-- Entity Fields Section -->
        SectionKey="entityFields"
        SectionName="Entity Fields"
        [BadgeCount]="GetSectionRowCount('entityFields')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Entity Fields','EncryptionKeyID')"
                [NewRecordValues]="NewRecordValues('MJ: Entity Fields')"
                [AllowLoad]="IsSectionExpanded('entityFields')"
                (AfterDataLoad)="SetSectionRowCount('entityFields', $event.totalRowCount)"
