    <!-- List Definition Section -->
        SectionKey="listDefinition"
        SectionName="List Definition"
    <!-- Associations Section -->
        SectionKey="associations"
        SectionName="Associations"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Duplicate Runs','SourceListID')"
        [BadgeCount]="GetSectionRowCount('details')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: List Details','ListID')"
                [NewRecordValues]="NewRecordValues('MJ: List Details')"
                [AllowLoad]="IsSectionExpanded('details')"
                (AfterDataLoad)="SetSectionRowCount('details', $event.totalRowCount)"
    <!-- MJ: List Invitations Section -->
        SectionKey="mJListInvitations"
        SectionName="MJ: List Invitations"
        Icon="fa fa-user-plus"
        [BadgeCount]="GetSectionRowCount('mJListInvitations')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: List Invitations','ListID')"
                [NewRecordValues]="NewRecordValues('MJ: List Invitations')"
                [AllowLoad]="IsSectionExpanded('mJListInvitations')"
                (AfterDataLoad)="SetSectionRowCount('mJListInvitations', $event.totalRowCount)"
    <!-- MJ: List Shares Section -->
        SectionKey="mJListShares"
        SectionName="MJ: List Shares"
        [BadgeCount]="GetSectionRowCount('mJListShares')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: List Shares','ListID')"
                [NewRecordValues]="NewRecordValues('MJ: List Shares')"
                [AllowLoad]="IsSectionExpanded('mJListShares')"
                (AfterDataLoad)="SetSectionRowCount('mJListShares', $event.totalRowCount)"
