    <!-- Queue Definition Section -->
        SectionKey="queueDefinition"
        SectionName="Queue Definition"
            FieldName="QueueTypeID"
            FieldName="LastHeartbeat"
    <!-- Process Environment Section -->
        SectionKey="processEnvironment"
        SectionName="Process Environment"
            FieldName="ProcessPID"
            FieldName="ProcessPlatform"
            FieldName="ProcessVersion"
            FieldName="ProcessCwd"
            FieldName="ProcessIPAddress"
            FieldName="ProcessMacAddress"
            FieldName="ProcessOSName"
            FieldName="ProcessOSVersion"
            FieldName="ProcessHostName"
            FieldName="ProcessUserID"
            FieldName="ProcessUserName"
    <!-- Queue Tasks Section -->
        SectionKey="queueTasks"
        SectionName="Queue Tasks"
        [BadgeCount]="GetSectionRowCount('queueTasks')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Queue Tasks','QueueID')"
                [NewRecordValues]="NewRecordValues('MJ: Queue Tasks')"
                [AllowLoad]="IsSectionExpanded('queueTasks')"
                (AfterDataLoad)="SetSectionRowCount('queueTasks', $event.totalRowCount)"
