    <!-- Resource Type Definition Section -->
        SectionKey="resourceTypeDefinition"
        SectionName="Resource Type Definition"
    <!-- Entity Associations Section -->
        SectionKey="entityAssociations"
        SectionName="Entity Associations"
            FieldName="CategoryEntityID"
    <!-- Workspace Items Section -->
        SectionKey="workspaceItems"
        SectionName="Workspace Items"
        [BadgeCount]="GetSectionRowCount('workspaceItems')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Workspace Items','ResourceTypeID')"
                [NewRecordValues]="NewRecordValues('MJ: Workspace Items')"
                [AllowLoad]="IsSectionExpanded('workspaceItems')"
                (AfterDataLoad)="SetSectionRowCount('workspaceItems', $event.totalRowCount)"
    <!-- User Notifications Section -->
        SectionKey="userNotifications"
        SectionName="User Notifications"
        Icon="fa fa-bell"
        [BadgeCount]="GetSectionRowCount('userNotifications')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: User Notifications','ResourceTypeID')"
                [NewRecordValues]="NewRecordValues('MJ: User Notifications')"
                [AllowLoad]="IsSectionExpanded('userNotifications')"
                (AfterDataLoad)="SetSectionRowCount('userNotifications', $event.totalRowCount)"
    <!-- Resource Links Section -->
        SectionKey="resourceLinks"
        SectionName="Resource Links"
        [BadgeCount]="GetSectionRowCount('resourceLinks')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Resource Links','ResourceTypeID')"
                [NewRecordValues]="NewRecordValues('MJ: Resource Links')"
                [AllowLoad]="IsSectionExpanded('resourceLinks')"
                (AfterDataLoad)="SetSectionRowCount('resourceLinks', $event.totalRowCount)"
    <!-- Resource Permissions Section -->
        SectionKey="resourcePermissions"
        SectionName="Resource Permissions"
        [BadgeCount]="GetSectionRowCount('resourcePermissions')"
                [Params]="BuildRelationshipViewParamsByEntityName('MJ: Resource Permissions','ResourceTypeID')"
                [NewRecordValues]="NewRecordValues('MJ: Resource Permissions')"
                [AllowLoad]="IsSectionExpanded('resourcePermissions')"
                (AfterDataLoad)="SetSectionRowCount('resourcePermissions', $event.totalRowCount)"
