            FieldName="MajorVersion"
            FieldName="MinorVersion"
            FieldName="PatchVersion"
    <!-- Installation Execution Section -->
        SectionKey="installationExecution"
        SectionName="Installation Execution"
        Icon="fa fa-play"
            FieldName="InstalledAt"
    <!-- Installation Documentation Section -->
        SectionKey="installationDocumentation"
        SectionName="Installation Documentation"
            FieldName="InstallLog"
            FieldName="CompleteVersion"
