        sectionKey="details"
        sectionName="Details"
        icon="fa fa-align-left"
            FieldName="TotalOrders"
            FieldName="LifetimeSpend"
            FieldName="AvgOrderValue"
            FieldName="SmallestOrder"
            FieldName="LargestOrder"
            FieldName="FirstOrderDate"
            FieldName="LastOrderDate"
            FieldName="TotalItemsPurchased"
            FieldName="CancelledOrders"
            FieldName="DeliveredOrders"
            FieldName="DaysSinceLastOrder"
